.title {
 color: red;
}
.project-img {
    width: 100px;
    height: 100px;
}

.container1 {
    display: flex;
    flex-direction: column;

    position: relative;
    z-index: 5;
    max-width: 92rem;
    padding: 0 4rem;
    margin: 0 auto;
}

projects{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25%;

    border: 1px solid black;
    border-radius: 10%;

    
}