:root {
    --dark-one: #222831;
    --dark-two: #393E46;
    --main-color: #00ADB5;
    --light-one: #EEEEEE;
    --light-two: #f9f9f9;
    --light-three: #ffffff;
}

.title {
    color: #00ADB5;
}

.project-img {
    width: 10vw;
    height: auto;
    border-radius: 3%;
}

.container1 {
    max-width: 92rem;
    padding: 0 4rem;
    margin: 0 auto;
    margin-bottom: 5rem;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Create four columns */
    gap: 1rem; /* Add spacing between projects */
}

projects {
    display: flex;
    flex-direction: column;
    max-height: 30rem;
    min-height: 30rem;
    text-align: center;
    border-radius: 2%;
    padding: 50px 30px;
    background: #fff;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    cursor: pointer;
}

projects a {
    display: inline-block;
    padding: 0.9rem 1.2rem;
    color: var(--dark-one);
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1;
    transition: 0.3s;
}

projects a.active {
    background-color: var(--main-color);
    color: var(--light-one);
    border-radius: 2rem;
    font-size: 1rem;
    padding: 0.9rem 2.1rem;
    margin-left: 1rem;
}

projects a:hover {
    color: var(--main-color);
}

projects a.active:hover {
    color: var(--light-one);
    background-color: #00cdd8;
}

projects:hover {
    transform: scale(1.05);
    transition: 0.5s;
}